In [1]:
x = 10
type(x)

int

In [2]:
a = 100

In [3]:
type(a)

int

In [4]:
float(a)

100.0

In [5]:
type(a)

int

In [6]:
a = float(a)

In [7]:
type(a)

float

In [8]:
s = '12'
s2 = 20
s3 = s2 + int(s)
s3

32

In [9]:
s4 = "hello" + "world"

In [10]:
print(s4)

helloworld

In [11]:
name = input("enter your name")
print("welcome " + name)

welcome chandan

In [14]:
hours = int(input("enter the hours of work "))
pay = float(input ("enter the rate per hours "))
gross_pay = hours * pay;
print("the gross pay is " ,gross_pay)

the gross pay is  13420.5

In [16]:
width = 17
height = 12.0
print(width//2)
print(width/2.0)
print(height/3)
4.1 + 2 * 5

8
8.5
4.0

14.1

In [17]:
temp_in_celsius = float(input("enter the temperature in celsius"))
temp_in_farahneit=(temp_in_celsius*(9/5)+32)
print(temp_in_farahneit)

89.6

In [18]:
age = input('enter age')
if(float(age) >= 18):
    print('elgible to vote')
else:
    print('not eligible to vote')

not eligible to vote

In [19]:
num1 = input('enter a number')
num2 = input('enter a number')
if(float(num1) > float(num2)):
    print(num1 + 'is greatest')
else:
    print(num2 + " is greatest")

89 is greatest

In [21]:
num = input('enter a number')
if(int(num) % 2 == 0):
    print("even number")
else:
    print("odd number")

odd number

In [23]:
vol_check = input("enter a character")
if(vol_check == 'a' or vol_check == 'e' or vol_check=='i' or
    vol_check == 'o' or vol_check == 'u'):
    print("vowels")
else:
    print("not vowels")

not vowels

In [25]:
subject1 = float(input("enter marks for subject 1: "))
subject2 = float(input("Enter marks for subject 2"))
subject3 = float(input("Enter marks for subject 3"))
subject4 = float(input("Enter marks for subject 4"))
subject5 = float(input("Enter marks for subject 5"))

total_marks = subject1 + subject2 + subject3 + subject4 + subject5
percentage = (total_marks/500) * 100

if percentage >= 80:
    print("grade A")
elif percentage >= 60:
    print("grade B")
elif percentage >= 40:
    print("grade C")
else:
    print("fail")

ValueError: could not convert string to float: ''

In [26]:
num1 = int(input('enter the first number'))
num2 = int(input("enter the second number"))
num3 = int(input("enter the third number"))
if num1 > num2 and num1 > num3:
    print('num1 is the largest')
elif num2 > num1 and num2 > num3:
    print('num2 is the largest')
else:
    print('num3 is largest')

num2 is the largest

In [29]:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [27]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
count = 1
while count <= 5:
    print("count is",count)
    count += 1

count is 1
count is 2
count is 3
count is 4
count is 5

In [30]:
for i in range (1,6):
    if i == 3:
        continue
    if i == 5:
        break
    print(i)

1
2
4

In [31]:
for i in range(3):
    print(i)
else:
    print("loop is finished")

0
1
2
loop is finished

In [32]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
for i in range (1,51):
    if(i % 2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [34]:
n = int(input("enter a number"))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print(sum)

15

In [35]:
n = int(input("enter a number"))
for i in range (1,11):
    print(n ,"X", i, "= " ,n * i)

13 X 1 =  13
13 X 2 =  26
13 X 3 =  39
13 X 4 =  52
13 X 5 =  65
13 X 6 =  78
13 X 7 =  91
13 X 8 =  104
13 X 9 =  117
13 X 10 =  130

In [38]:
n = int(input("enter a number"))
factorial = 1
for i in range(1,n+1):
    factorial = factorial * i
print(factorial)

120

In [40]:
for i in range (100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [42]:
n = int(input("Enter the number of term: "))
a = 0
b = 1
print("Fibonacci series ")
for i in range(n):
    print(a)
    temp = a
    a = b
    b = temp + b;

Fibonacci series
0
1
1
2
3
5
8
13
21
34

In [44]:
for num in range (2, 101):
    is_prime = True
    for i in range (2,int(num ** 0.5)+1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [45]:
while num != 0:
    print(num)
    num = int(input("enter a number"))

100
6
7
9

In [49]:
sum = 0
num = int(input("enter a number "))
while num > 0:
    r = num % 10
    sum = sum + r
    num = num // 10
print(sum)

10

In [52]:
rev = 0
num = int(input("enter a number"))
while num > 0:
    r = num % 10
    rev = rev * 10 + r
    num = num // 10
print(rev)

321

In [53]:
rev = 0
num = int(input("enter a number"))
n = num
while num > 0:
    r = num % 10
    rev = rev * 10 + r
    num = num // 10
if ( rev == n):
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [54]:
import random
secret_number = random.randint(1,100)
while True:
    guess = int(input("Guess the number betwee 1 and 100"))

    if guess == secret_number:
        print("congrats")
        break
    elif guess < secret_number:
        print("low guess higher")
    else:
        print("high guess lower")

low guess higher
high guess lower
low guess higher
high guess lower
low guess higher
low guess higher
high guess lower
high guess lower
congrats

In [55]:
num = 2
while num <= 1000:
    print(num)
    num = num * 2

2
4
8
16
32
64
128
256
512

In [57]:
n = int(input("enter a positive integer"))
print("Collatz sequence")
while n != 1:
    print(n)
    if n % 2 == 0:
        n = n // 2
    else:
        n = 3 * n + 1
print(1)

Collatz sequence
13
40
20
10
5
16
8
4
2
1

In [1]:
def greet():
    print("Hello welcome to python")

In [2]:
greet()

Hello welcome to python

In [6]:
def greet2(name):
    print(f"Hello {name}, welcome to python")

In [7]:
greet2('chandan')

Hello chandan, welcome to python

In [8]:
def power(base, exp = 2):
    return base**exp

In [9]:
print(power(5))

25

In [10]:
def total(*numbers):
    return sum(numbers)

In [11]:
print(total(1,2,3,45))

51

In [12]:
def stat (*numbers, operation):
    if not numbers:
        print("Atleast one number is required")
    if operation == 'sum':
        return sum(numbers)
    elif operation == 'avg':
        return sum(numbers)/len(numbers)
    elif operation == 'max':
        return max(numbers)
    elif operation == 'min':
        return min(numbers)
    else:
        print("Invalid operation")

In [14]:
print(stat(2,4,6,8, operation='sum'))

20

In [17]:
def show_details(**info):
    for key,value in info.items():
        print(f"{key} = {value}")
    else:
        print("enter atleast one key value pair")

In [16]:
show_details(name="chandan",age = 23, city="pune")

name = chandan
age = 23
city = pune

In [18]:
show_details()

enter atleast one key value pair

In [19]:
square = lambda x : x * x

In [20]:
print(square(10))

100

In [21]:
greet4 = lambda name : f"hello {name}"

In [22]:
greet4('chandan')

'hello chandan'

In [ ]:
factorial2 = lambda n : prod = 1 for i in range (1 , n+1)

In [23]:
is_leap = lambda year : (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

In [24]:
print(is_leap(2024))

True

In [25]:
def square_evens(nums):
    return list(map(lambda x : x**2,filter(lambda x : x % 2 == 0,nums)))

In [26]:
def square_evens(nums):
    #step 1 - filter even numbers
    evens = filter(lambda x: x % 2 == 0,nums)
    #step 2 - map to squares
    squares = map(lambda x: x**2,evens)
    #convert to list before returning
    return list(squares)

print(square_evens([13,14,6,8]))

[196, 36, 64]

In [27]:
def long_words_upper(words):
    #step 1: filter words with length > 3
    long_words = filter(lambda w: len(w) > 3,words)
    #step 2: map them to uppercase
    upper_words = map(lambda w: w.upper(),long_words)
    #convert to list
    return list(upper_words)

print(long_words_upper(["cat","lion","dog","tiger","ox"]))

['LION', 'TIGER']

In [31]:
print(len("Python"))
print(type(100))
print(abs(-7))
print(max(2,5,9))
print(min(1,2,4))
print(round(3.1784,2))
print(sum([1,2,3,4]))
print(sorted([2,8,5]))

6
<class 'int'>
7
9
1
3.18
10
[2, 5, 8]

In [34]:
class Car:
    #attributes (variables)
        def __init__(self, brand, color):
            self.brand = brand
            self.color = color

        def show_details(self):
            print(f"The car is a {self.color} {self.brand}")
car1 = Car("Toyota","Red")
car2 = Car("BMW","Black")

car1.show_details()
car2.show_details()

The car is a Red Toyota
The car is a Black BMW

In [36]:
class Student:
    def __init__(self,id,name,marks):
        self.id = id
        self.name = name
        self.marks = marks
    def show_details(self):
        print(f"The student has an id {self.id} and a name {self.name} and has obtained {self.marks}")
Student1 = Student("1","Ann","70")
Student2 = Student("2","ben","80")
Student3 = Student("3","john","90")
Student4 = Student("4","belly","40")

Student1.show_details()
Student2.show_details()
Student3.show_details()
Student4.show_details()

The student has an id 1 and a name Ann and has obtained 70
The student has an id 2 and a name ben and has obtained 80
The student has an id 3 and a name john and has obtained 90
The student has an id 4 and a name belly and has obtained 40

In [5]:
class BankAccount:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance
    def deposit(self,amount):
        if amount > 0:
            self.balance += amount
    def withdraw(self,amount):
        if amount > self.balance:
            print("insufficient funds")
        else:
            self.balance -= amount
    def check_balance(self):
        print(f"{self.owner}'s current balance: Rs{self.balance}")

account = BankAccount("Chandan",1000)
account.check_balance()
account.deposit(500)
account.withdraw(300)
account.check_balance()

Chandan's current balance: Rs1000
Chandan's current balance: Rs1200

In [1]:
a = [1,2,3]*3
print(a)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [2]:
x = 10
def change(x):
    x = x + 5
    return x
print(change(x))
print(x)

15
10

In [3]:
list(filter(lambda x : x % 2 == 0 and x % 3 == 0,range(1,31)))

[6, 12, 18, 24, 30]

In [18]:
class BankAccount:
    def __init__(self,owner,balance):
        self.owner = owner
        self._balance = balance # protected attribute
        self.__pin = "1234"
    def deposit(self,amount):
        self._balance += amount
        print(f"Deposited {amount}, new balance = {self._balance}")
    def __show_pin(self): # private method
        print("PIN is: ", self.__pin)
    def mod_show_pin(self):
        print("modded pin is ",self.__pin)

account = BankAccount("Alice",1000)
account.deposit(500)
account.mod_show_pin()

print(account.owner)
print(account._balance)
print(account.__pin)

Deposited 500, new balance = 1500
modded pin is  1234
Alice
1500

AttributeError: 'BankAccount' object has no attribute '__pin'